body{
    margin:0px;
    padding:0px;
    background:white;
  
}
.toparea{
    background:#A64E49;
    padding:10px 0;
    color:white;
    text-align:center;
}
.toparea p a{
    text-decoration:none;
    color:white;
}
.logoarea{
    padding:34px 0;
    color:#74353F;
    background:#F2C38B;
    text-align:center;
}
    .logoarea img{
        height:110px;
    }
    .logoarea h4{
        color:black;
    }
    .logoarea h1{
        text-shadow: 2px 8px 6px #0003, 0 -5px 16px #ffffff4d;
    }
.pass4{
    background:white;
    padding:60px 0;
    text-align:center;
}
.pass4 h4{
    text-align:left;
}
.pass4 p{
    text-align:left;
}
.pass4 a{
    font-size:17px;
    color:black;
    text-decoration: none;
}
.pass4 i{
    font-size: 2em;
    margin-top: 10px;
    color: #cc4b4c;
}
.date{
    border: solid 1px #BDBDBD;
    border-radius: 6px;
    background:white;
    box-shadow:0 1px #BDBDBD,0 2px #fff,0 3px #BDBDBD,0 4px #fff,0 5px #BDBDBD, 0 0 0 1px #bdbdbd;
}
.date p{
    background:#FD9F1B;
    font-size: 10px;
    text-align:center;
    color:white;
    padding:3px 0;
    border-bottom: 1px dashed #f37302;
}
.date b{
    font-size: 25px;
    text-align: center;
    padding-top: 0.8em;
}
.footerarea{
    padding:60px 0px;
    background: #1a1a1a;
   
 
}
.footerarea h4{
    border-left:solid 5px white;
    padding:0 10px;
    color: white;
}
.footerarea p{
    color:#F2C38B;
}
.footerarea p a{
    color:#D37F57;
    text-decoration:none;
}
.footerarea p a:hover{
    color:#F2C38B;
}
.footerarea p:nth-child(3){
    color:#C85029;
}
.footerarea p:nth-child(4){
    color:#C85029;
}
.footerarea ul{
    list-style-type: none;
    color:#D36F35;
    padding:2px 0;

}
.footerarea ul li a{
    color:#D36F35;
    text-decoration:none;
}
.footerarea ul li{
    transition:all 2s;
    padding:5px 0;
}
.footerarea ul li:hover{
    transform:translatex(5px);
    
}
.text p{
    color:#F2C36E;
}
.text1 p{
    text-align:center;
    color:white;
}
.text1 p a{
    text-decoration:none;
    color:#D36F35;
}
.pass1{
    height:1px;
    width:100%;
    background-image:linear-gradient(to left,transparent,white,transparent);
}
.pass{
    background:white;
    text-align: center;
    padding:0 80px;
}
.p1{
    background:#F8F9FA;
    width:100%;
    text-align: center;
    padding-left:190px ;
}
.bol{
    height:1px;
    width:100%;
    background-image:linear-gradient(to left,transparent,black,transparent);
    margin-top: 20px;
}