.body{
    background:black;
    margin:0;
    padding:0;
}
.toparea{
    background:lightcoral;
    padding:5px 0;
    color:white;
    text-align:center;
}
.logoarea{
    background:orange;
    padding:45px 0;
    color:white;
    text-align:center;
}
.logoarea h2{
    color:chocolate;
}
.logoarea h4{
    color:black;
}