
		.top
		{
			width:100%;
		  	background:#ea6;
            text-align: center;
            padding:20px 0px;
		}
		.logo
		{
			
			width:100%;
		  	background:#ea6;
			float:left;
			
		}
		.text
		{
			width:100%;
		  	 background:#ea6;
			float:left;
			color:red;
			
		}
		.link
		{
			height:90px;
			width:100%;
		  	background:#ea6;
			float:left;
			
		}
		.admission
		{
			width:100%;
		  	background:#ea6;
			float:left;
			text-align: center;
			
		}
		.admission p 
		{
		  	background:red;
			font-size:20px;
			padding:10px;
		}
		.admission p:hover 
		{
		  	background:#ead;
			
		}
		.link ul li{
			list-style:none;
			float:left;
			margin:5px;
		}
		.link ul li:hover{
			background:yellow;
			color:blue;
		}
		#toparea td {
			color:red;
		}
		
		#toparea  a {
			text-decoration:none;
			color:black;
		}
		.darea{
			width:100%;
		  	background:url('ajit.gif');
			float:left;
			position:sticky;
			top:0;
			z-index:1000;
		}
		.darea ul li {
			float:left;
			color:white;
			list-style:none;
			padding:5px;
			font-size:20px;
			margin-right:25px;
			
		}
		.darea ul li a{
			color:white;
			text-decoration:none;
		}
		.darea ul li a:hover{
			color:blue;
			background:#c23;
			
		}
		
		.show{
			width:100%;
			background:white;
			float:left;
		}
		.da{
					position:absolute;
					bottom:200px;
					width:1200px;
					text-align:center;
					padding:10px 10px;
					color:#e4d;
					display:block;
					font-size:50px;
					text-shadow: 5px 5px 10px red;
				}
		.show1{
			width:100%;
			background:url('school.jpg');
			float:left;
			padding-right: 120px;
		}
		.s{
			height:400px;
			width:100%;
			background:white;
			float:left;
			margin:50px;
			overflow-y:scroll;
			border-radius:30px 0px 0px 30px;
			
		}
		.s p a:hover{
			color:blue;
		}
		.s1{
			height:400px;
			width:100%;
			background:rgb(13,3,43);
			float:left;
			margin:50px;
			border-radius:20px;
		}
		.s1 p{
			padding:10px;
			font-size:20px;
			color:#5dc;
			font-style:italic;
		}
		.s1 h2{
			text-align:center;
			color:rgb(45,233,121);
			font-size:30px;
		}
		.s1 h3{
			text-align:center;
			color:rgb(214,213,11);
			font-size:20px;
		}
		.s p{
			text-align:center;
			font-size:20px;
		}
		.s p a{
			text-decoration:none;
		}
		.details{
					position:absolute;
					bottom:60px;
					width:100%;
					text-align:center;
					padding:10px 0;
					color:black;
					background:linear-gradient(to bottom,transparent,yellow);
					display:block;
					font-size:50px;
				}
		.c1:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.circle{
			
			width:100%;
			background:#CCFFFF;
			float:left;
		}
		.c{
			height:70px;
			width:100%;
			background:#aec;
			float:left;
			text-align:center;
		}
		.ca1{
			height:70px;
			width:500px;
			background:#aec;
			float:left;
		}
		.ca2{
			height:70px;
			width:260px;
			background:#aec;
			float:left;
			text-align: center;
		}
		.ca3{
			height:70px;
			width:500px;
			background:#aec;
			float:left;
		}
		
		.c h1{
			font-style:italic;
			overflow:hidden;
			
		}
		
		.c1{
			height:320px;
			width:340px;
			background:#cb1;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
			
			
		}
		.c1 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.c1 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.a1 h2{
			margin-left:110px;
			font-size:30px;
		}
		.c2:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.c2{
			height:320px;
			width:340px;
			background:#aae;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		
		}
		.c2 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.c2 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.c3:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.c3{
			height:320px;
			width:340px;
			background:#a55;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		
		}
		.c3 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.c3 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		
		.b1{
			height:320px;
			width:340px;
			background:#cb1;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		.b1 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.b1 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.b1:hover .details{

				display:block;
					bottom:0;
					transition:all 2s;
				}
		.b2{
			height:320px;
			width:340px;
			background:#aae;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		.b2 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.b2 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.b2:hover .details{

				display:block;
				bottom:0;
				transition:all 2s;
		}
		.b3{
			height:320px;
			width:340px;
			background:#a55;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		.b3 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.b3 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.b3:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.event{
			height:600px;
			width:100%;
			background:#e6a;
			float:left;
		}
		.e{
			height:100px;
			width:100%;
			float:left;
			text-align:center;
			background-color:#CCFFFF ;
		}
		.e1{
			height:320px;
			width:340px;
			background:#cb1;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		.e1 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.e1 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.e1:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.e2{
			height:320px;
			width:340px;
			background:#aae;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		.e2 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.e2 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.e2:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.e3{
			height:320px;
			width:340px;
			background:#a55;
			float:left;
			margin:40px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
		}
		#e3 img{
			height:320px;
			width:340px;
			border-radius:50%;
			opacity:0.7;
			transition:transform 0s 0s ease;
		}
		.e3 img:hover{
			transform:scale(1.2,1.2);
			opacity:1;
		}
		.e3:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.footer{
			height:550px;
			width:1260px;
			background:#E09407;
			float:left;
		}
		.f{
			height:350px;
			width:225px;
			background:red;
			float:left;
			margin:40px 30px;
			overflow:hidden;
			position:relative;
			border:solid 10px red;
		}
		.f:hover{
			border-color:rgb(21,92,99);
		}
		.f1{
			height:70px;
			width:100%;
			float:left;
			padding:10px;
		}
		.f1 h1{
			color:rgb(21,11,62);
			text-align:center;
			font-size:40px;
		}
		.a{
			height:50px;
			width:50px;    
			background:red;  
			float:left;  
			                                                                                             
		}
		.detail{
					position:absolute;
					bottom:60px;
					width:100%;
					text-align:center;
					padding:10px 0;
					color:black;
					background:linear-gradient(to bottom,transparent,yellow);
					display:block;
					font-size:50px;
				}
		.f:hover .details{

					display:block;
					bottom:0;
					transition:all 2s;
				}
		.down{
			height:480px;
			width:100%;
			background:#2ab;
			float:left;
		}
		.d{
			height:480px;
			width:315px;
			background:black;
			float:left;
		}
		.d {
			color:white;
			text-decoration:none;
		}
		.d h3 {
			font-size:25px;
			margin-left:55px;
		}
		.d p {
			font-size:18px;
			margin-left:30px;
		}
		.d p a{
			color:white;
			text-decoration:none;
		}
		.d p a:hover{
			color:blue;
			
		}
		.d p b{
			color:#aea;
			
		}
		.d ul li {
			list-style:none;
			font-size:23px;
			list-style-image:url('http://mpsckp.com/images/arr.png');
			margin-left:50px;
		}
		.d ul li a{
			color:#FF9D3C;
			text-decoration:none;
		}
		.d ul li a:hover{
			color:blue;
			text-decoration:none;
			position:absolute;
		}
		.d input {
			margin-left:30px;
			
		}
		.d form {
			background:#a63;
			height:290px;
			width:280px;
			border-radius:15px;
		}
		.d form label {
			color:#4ab;
			font-size:20px;
			
		}
		.d form input:hover {
			color:#3e3;
			
		}
		.last{
			height:60px;
			width:1260px;
			background:black;
			float:left;
		}
		.last h3{
			color:#C1C1C1;
		}