body{
    margin:0px;
    padding:0px;
    background-image:url('background.webp');
  
}
.toparea{
    background:#A64E49;
    padding:10px 0;
    color:white;
    text-align:center;
}
.toparea p a{
    text-decoration:none;
    color:white;
}
.logoarea{
    padding:34px 0;
    color:#74353F;
    background:#F2C38B;
    text-align:center;
}
    .logoarea img{
        height:110px;
    }
    .logoarea h4{
        color:black;
    }
    .logoarea h1{
        text-shadow: 2px 8px 6px #0003, 0 -5px 16px #ffffff4d;
    }
.parea{
    background:white;
    padding:48px 0px;
    text-align:center;
}
    .parea img:last-child{
        width:210px;
    }
    .parea p:last-child{
        text-align:right;
    }
    .parea p{
        text-align: justify;
    }

.carea{
    background:rgb(157, 147, 147,transparent);
    text-align:center;
    padding:48px 0;
}
    .box{
        background:white;
        padding:38px 10px;
        margin:20px 2px;
    }
    .box img{
        height:150px;
        transition:all 2s;
        border-radius:50%;
    }
    .box img:hover{
        transform: rotate(360deg);
        background:transparent;
    }
    .carea p{
        color:#727369;
        padding:20px 0;
        background:white;
    }
    .carea p a{
        text-decoration:none;
        color:#754027;
    }
.alumni{
    background:white;
    background-image:url('graduation.jpg');
    background-size:1500px 310px;
    background-repeat: no-repeat;
    text-align:center;
    padding:60px 0 90px 0;
}
.footerarea{
    padding:60px 0px;
    background: #1a1a1a;
   
 
}
.footerarea h4{
    border-left:solid 5px white;
    padding:0 10px;
    color: white;
}
.footerarea p{
    color:#F2C38B;
}
.footerarea p a{
    color:#D37F57;
    text-decoration:none;
}
.footerarea p a:hover{
    color:#F2C38B;
}
.footerarea p:nth-child(3){
    color:#C85029;
}
.footerarea p:nth-child(4){
    color:#C85029;
}
.footerarea ul{
    list-style-type: none;
    color:#D36F35;
    padding:2px 0;

}
.footerarea ul li a{
    color:#D36F35;
    text-decoration:none;
}
.footerarea ul li{
    transition:all 2s;
}
.footerarea ul li:hover{
    transform:translatex(5px);
    
}
.text p{
    color:#F2C36E;
}
.text1 p{
    text-align:center;
    color:white;
}
.text1 p a{
    text-decoration:none;
    color:#D36F35;
}